<div class="section">
    <p>Select an actor and the movie you wish to add the actor to</p>
    <table class="table table-striped">
        <tr>
            <th>Actors</th>
        </tr>
        <tr *ngFor="let item of actorsDB">
            <td>{{item.name}} </td>
            <td><button type="submit" class="btn btn-primary" (click)="onSelectAddActor(item)">Select
                    Actor</button></td>
        </tr>
    </table>
    <table class="table table-striped">
        <tr>
            <th>Movies</th>
        </tr>
        <tr *ngFor="let item of moviesDB">
            <td>{{item.title}}</td>
            <td> <button type="submit" class="btn btn-primary" (click)="onSelectToMovie(item)">Select
                    Movie</button></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary" (click)="onAddActorToMovie()">Add Actor to Movie</button>

</div>